/* --------ALL PAGES------------------ */

body {
  font-family: 'Lato', 'Arial', sans-serif;
}

h1 {
  font-size: 300%;
  font-weight: 300;
  color: rgb(9, 136, 153);
}

h2,
h4 {
  font-weight: 300;
  color: rgb(138, 136, 136);
}

p {
  line-height: 145%;
  font-weight: 300;
  font-size: 120% ;
}

.main-title {
  text-align: center;
  position: inline-block;
  margin: 40px 1%;
 
}

.name-title {
  margin-bottom: 15px;
  margin-right: 15px;
}

.title-img {
  width: 150px;
  height: auto;
 
}

.footer {
  background-color: rgba(245, 241, 241, 0.418);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
}


/* ---------INSURANCE PAGE----------- */
.insurance-title {
  position: inline-block;
  text-align: center;
  margin: 50px 25%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  line-height: 145%;
  font-weight: 300;
  font-size: 120% ;
  margin: auto 15%;
}

.grid-item {
  margin-bottom: 10px;
}


/* -----------PHYSICIAN PAGE-------------- */
.doc-info {
  line-height: 145%;
  font-weight: 300;
  font-size: 110% ;
}


/* ----------FORM PAGE------------ */
.form-info {
  margin: 30px 15%;
  text-align: center;
}

.forms {
  margin: 0 10%;
}


/* ---------PRIVACY PAGE------------- */
.privacy-letter {
  margin: 30px 10%;
}


/* ---------MOBILE RESPONSIVE--------------- */
@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    line-height: 145%;
    font-weight: 300;
    font-size: 120%;
    text-align: left;
  }
  .form-info {
    text-align: left;
    margin: 30px 15%;
  }
}